[Unit]
Description=Trigger nextcloud scan when local samba share is modified
After=network.target
RequiresMountsFor=/path/to/smb/share

[Service]
User=$USER_WITH_ACCESS_TO_SMB_AND_DOCKER

ExecStart=/path/to/nextscan.sh

[Install]
WantedBy=multi-user.target
